<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <!--<logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>-->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./_sass</directory>
                <directory suffix=".php">./_pug</directory>
                <directory suffix=".php">./Concept</directory>
                <directory suffix=".php">./node_modules</directory>
                <directory suffix=".php">./src/tests</directory>
                <directory suffix=".php">./src/pages</directory>
                <directory suffix=".js">./src/assets/js/jsvendor</directory>
                <directory>./src/admin</directory>
                <file>./src/index.php</file>
                <file>./src/includes/header.php</file>
                <file>./src/includes/footer.php</file>
                <file>./src/includes/nav.php</file>
                <file>./src/includes/globals.php</file>
                <file>./src/includes/head.php</file>
                <file>./src/includes/mapContent.php</file>
                <file>./src/pages/see-all.php</file>
                <file>./src/includes/Database.php</file>
                <file>./src/includes/ExploreDatabase.php</file>
                <file>./src/assets/js/filter.js</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./src/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
