html, body
  margin: 0
  padding: 0
  height: 100vh
  background: #fefefe
  font-family: "Areal", sans-serif

nav
  width: 100%
  height: 80px
  background: #eee
  border-bottom: 4px solid #ef8f12
  box-shadow: 0px 2px 15px 0px #888
  position: relative

  .logo
    height: 115px
    position: absolute
    top: -15px
    left: 100px

  .navLinkWrapper
    width: 60%
    height: 40px
    display: flex
    align-content: stretch
    position: absolute
    top: 20px
    right: 10px

    .navLink
      display: block
      height: 100%
      width: 100%

      text-align: center
      line-height: 150%
      font-size: 30px
      text-decoration: none
      color: #ef8f12

      .selector
        height: 3px
        width: 80%
        margin-left: 10%
        background: #ef8f12
        position: relative
        left: 0

        transition: left ease-in-out 300ms

.map
  width: 100%
  height: 90vh
  background: url('../imgs/VulcanMap.png')
  background-size: contain
  position: relative

  .location
    width: 25px
    height: 25px
    border: 3px solid #ef8f12
    border-radius: 50%
    background: #eee
    position: absolute
    top: 40%
    left: 70%

    .locInfo
      height: 400px
      width: 250px
      border: 2px solid #ef8f12
      border-radius: 10px
      background: #eee
      position: absolute
      top: -180px
      right: -270px

      img
        width: 100%
        height: 80px

      .title
        margin: 5px 8px
        margin-top: -15px

      .tags
        width: 100%
        height: 20px
        display: flex
        margin-left: 10px
        margin-bottom: 10px

        span
          display: inline-block
          height: 100%
          margin: 0 5px
          padding: 3px
          background: #ccc
          border-radius: 6px
          box-sizing: border-box
          font-size: 0.8em

      .desc
        font-size: .95em
        margin: 0 10px
        margin-bottom: 10px

      .open
        width: 100%
        height: 18px
        margin: 0 10px
        padding: 0 5px
        border-left: 2px solid #ef8f12
        font-size: .95em
        overflow: hidden

        .toggleBtn
          display: inline-block
          width: 18px
          height: 18px
          margin-left: 15px



    .subLocations
      height: 100px
      width: 50px
