html, body
  margin: 0
  padding: 0

nav
  height: 100px
  width: 100%
  margin: 0
  background: green

#content
  height: 100%
  width: 100%
  margin: 0
  padding: 20px
  background: lightgray

footer
  height: 100px
  width: 100%
  margin: 0
  background: gray
