.map
  width: 100%
  height: 45vw
  background: url('../imgs/fjerdingen-map.png')
  background-size: cover
  position: relative
  transition: background 300ms ease-in-out

  .cover
    width: 100%
    height: 100%
    background: #eee
    opacity: .5
    position: absolute
    transition: opacity 300ms ease-in-out

  .campus
    height: 23vw
    width: 23vw
    border: 8px solid #ef8f12
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    z-index: 150
    cursor: pointer
    overflow: hidden
    position: absolute
    top: 50%
    right: 50%
    transition: all 600ms ease-in-out

    &#Vulkan
      background: url('../imgs/Vulkan.jpg')
      background-position: 90% 90%
      background-size: cover
      transform: translate(-70%, -50%)

    &#Fjerdingen
      background: url('../imgs/Fjerdingen.jpg')
      background-position: 60% 60%
      background-size: cover
      transform: translate(50%, -50%)

    &#Brenneriveien
      background: url('../imgs/brenneriveien.jpg')
      background-position: 60% 60%
      background-size: cover
      transform: translate(170%, -50%)

    h1
      color: #ef8f12
      text-shadow: 0 0 1px #000
      z-index: 200

    .cover
      background: #333
      pointer-events: none

    &:hover
      .cover
        opacity: .3

    &.active
      height: 30px
      width: 30px
      border-width: 2px
      transform: translate(50%, -50%)!important

      h1
        opacity: 0
      .cover
        opacity: 0

    &.standby
      height: 40px
      width: 40px
      border-width: 2px
      top: 50px
      right: 120px

      h1
        opacity: 0
      .cover
        opacity: 0


  .location
    width: 25px
    height: 25px
    border: 3px solid #ef8f12
    border-radius: 50%
    background: #eee
    position: absolute

    opacity: 0
    overflow: hidden
    transition: opacity 300ms ease-in-out

    .locInfo
      height: 400px
      width: 250px
      border: 2px solid #ef8f12
      border-radius: 10px
      background: #eee
      position: absolute
      top: -180px
      right: -270px

      img
        width: 100%
        height: 80px

      .title
        margin: 5px 8px
        margin-top: -15px
        color: #cf6f08

      .tags
        width: 100%
        height: 20px
        display: flex
        margin-left: 10px
        margin-bottom: 10px

        span
          display: inline-block
          height: 100%
          margin: 0 5px
          padding: 3px
          background: #ffcf90
          border-radius: 6px
          box-sizing: border-box
          font-size: 0.8em

      .desc
        font-size: .95em
        margin: 0 10px
        margin-bottom: 10px

      .open
        height: 18px
        margin: 0 10px
        padding: 0 5px
        border-left: 2px solid #ef8f12
        font-size: .95em
        overflow: hidden
        transition: height 300ms ease-in-out

        .status
          display: inline-block
          height: 18px
          vertical-align: top

        .toggleBtn
          display: inline-block
          width: 18px
          height: 18px
          margin-left: 15px
          background: url('../imgs/DropDownArrow.png')
          background:
            size: 80% 80%
            position: center
            repeat: no-repeat
          cursor: pointer

    .subLocations
      height: 150px
      width: 50px
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      margin-top: -75px
      position: absolute
      left: -60px
      top: 50%

      a
        display: block
        height: 20px
        width: 20px
        border: 2px solid #ef8f12
        border-radius: 50%

.showName
  height: 30px
  border: 2px solid #ef8f12
  border-radius: 15px
  min-width: 30px
  background: #ffcf90
  font-size: 1.2em
  text-align: center
  line-height: 150%
  padding: 0 10px
  position: absolute
  transform: translate(-100%, 0)
  z-index: 1000
