nav
  width: 100%
  height: 80px
  background: #eee
  border-bottom: 4px solid #ef8f12
  box-shadow: 0 2px 15px 0 #888
  position: relative

  z-index: 100

  a
    color: black
    text-decoration: none

  .logo
    position: absolute
    top: 5px
    left: 100px

    img
      display: inline-block
      height: 100px

    h1
      display: inline-block
      margin: 0 20px
      font-size: 2.5em
      position: absolute
      left: 100px
      top: 25px

  .navLinkWrapper
    width: 60%
    height: 60px
    display: flex
    background: #eee
    align-content: stretch
    position: absolute
    top: 10px
    right: 10px
    transform: translate(0%)
    transition: transform 300ms ease-in-out
    z-index: 100

    &.closed
      transform: translate(96%)
      transition-duration: 1000ms

      #navDrawerKnob
        .arrow
          transform: skewX(-20deg) translate(0, -50%) rotate(90deg)

    #navDrawerKnob
      height: 80px
      width: 32px
      flex: none
      margin-top: -10px
      border-left: 4px solid #ef8f12
      transform: skewX(20deg)
      position: relative
      opacity: 0
      transition: opacity 300ms ease-in-out
      cursor: pointer

      &.show
        opacity: 1

      .arrow
        height: 28px
        width: 28px
        background:
          image: url('../imgs/DropDownArrow.png'), url('../imgs/DropDownArrow.png')
          size: 70%
          repeat: no-repeat
          position: top, bottom
        position: relative
        top: 50%
        transition: transform 300ms ease-in-out
        transform: skewX(-20deg) translate(0, -50%) rotate(-90deg)

    .navLink
      display: block
      height: 100%
      width: 100%
      border-right: 1px solid #ef8f12
      box-sizing: border-box
      text-align: center
      line-height: 200%
      font-size: 30px
      text-decoration: none
      color: #ef8f12
      position: relative

      .selector
        height: 3px
        width: 80%
        background: #ef8f12
        position: absolute
        left: 0
        bottom: 5px
        pointer-events: none
        transition: all ease-in-out 300ms
        transform: translateX(10%)

      &:nth-child(2)
        border-right: none
        width: 50%

      &:nth-child(3)
        width: 50%

      &:last-child
        border-right: none


  .filterWrapper
    width: 60%
    height: 60px
    display: flex
    align-content: stretch
    position: absolute
    top: 10px
    right: 50px
    opacity: 0
    transform: translateY(-50%)
    transition: all 500ms ease-in-out

    &.show
      opacity: 1
      transform: translateY(0)

    .filter
      width: 40%
      padding: 10px
      font-size: 20px
      background-color: #eee
      border: 2px solid #ef8f12
      margin: 0 5%
      border-radius: 4px
      transition: border-color 200ms ease-in-out

    select
      cursor: pointer
      background-image: url('../imgs/DropDownArrow.png')
      background-size: 30px
      background-position: 98% center
      background-repeat: no-repeat
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none

      &::-ms-expand
        /* remove default arrow on ie10 and ie11 */
        display: none

      /* target Internet Explorer 9 to undo the custom arrow */
      @media screen and (min-width:0\0)
        background: none\9
        padding: 5px\9

      &:focus
        outline: none
        border-color: #cf6f08

    input:focus
        outline: none
        border-color: #cf6f08
