.aboutusbox{
    padding: 125px;
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}
.aboutusbox h1 {
    margin-bottom: 50px;
    font-size: 2.5em;
    padding-right: 40px;
}


.aboutusbox .c2 #aboutustext{
    font-size: 1.2em;
    padding-right:40px;
}

.aboutusbox .c2 #aboutusimg{
    width: 50%;
}
.middleline{
    border-right: 2px solid #ef8f12;
}
