#aboutusbox{
    padding: 150px;
    margin-top: 50px;
    text-align: center;
}
#aboutusbox h1 {
    margin-bottom: 75px;
    font-size: 2.5em;
}
  

#aboutusbox .c2 #aboutustext{
    font-size: 1.2em;
    
}

#aboutusbox .c2 #aboutusimg{
    height: 50%;
    margin-left: 50px;
    
}