#aboutusbox{
    padding: 150px;
    text-align: center;
}
#aboutusbox #h1 .c2{
    margin-bottom: 50px;
}
  
#aboutusbox .c2{
    
    }

#aboutusbox .c2 #aboutustext{
    
}

#aboutusbox .c2 #aboutusimg{
    height: 50%;
    margin-left: 50px;
    
}