.row {
  width: 100%;
  display: flex; }
  .row .c1 {
    width: 100%; }
  .row .c2 {
    width: 50%; }
  .row .c3 {
    width: 33.33%; }
  .row .c4 {
    width: 25%; }
  .row .c5 {
    width: 20%; }
  .row .c6 {
    width: 16.66%; }
