.contact_wrapper {
    padding-top: 50px;
}

#info_text_left {
    text-align: center;
    padding-right: 10px;
}

#info_text_right {
    text-align: center;
    padding-left: 10px;
}

.contact_form {
    margin: auto;
    width: 30%;
    padding-bottom: 50px;
    border-bottom: 2px solid #ef8f12;
    position: relative;
}

.contact_form input {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    background-color: #eee;
    border: 2px solid #ef8f12;
    border-radius: 4px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: border-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out;
}

.contact_form input:focus {
    outline: none;
    border-color: #ef8f12;
}

#message_box:focus {
    outline: none;
    border-color: #ef8f12;
}

.contact_form input[type="submit"] {
    width: 40%;
    cursor: pointer;;
}

#message_box {
    width: 80%;
    height: 300px;
    padding: 10px;
    font-size: 20px;
    background-color: #eee;
    border: 2px solid #ef8f12;
    border-radius: 4px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: border-color 300ms ease-in-out;
    transition: border-color 300ms ease-in-out;
}

.contact_info {
    width: 30%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 80px
}

.tooltiptext {
  display: block;
  height: 0;
  width: 0;
  margin-right: auto;
  position: relative;
  left: 88%
}

.tooltiptext span {
    display: block;
    padding: 11.5px 20px;
    font-size: 20px;
    white-space: nowrap;
    background: #ef8f12;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    position: absolute;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
}

.tooltiptext.show span {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
