#info_text_left{
            position: absolute;
            left: 40%;
            top:70%;
            
        }    
        #info_text_right{
            position: absolute;
            left: 50%;
            top:70%;
            
        }    
        #contact_info{
        }
        
        #subject_box{
                
        }
                
