html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #eee;
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden; }

.row {
  width: 100%;
  display: flex; }
  .row .c2 {
    width: 50%; }
  .row .c3 {
    width: 33.33%; }
  .row .c4 {
    width: 25%; }
  .row .c5 {
    width: 20%; }
  .row .c6 {
    width: 16.66%; }
