nav {
  width: 100%;
  height: 80px;
  background: #eee;
  border-bottom: 4px solid #ef8f12;
  box-shadow: 0 2px 15px 0 #888;
  position: fixed;
  top: 0;
  z-index: 1000; }
  nav a {
    color: black;
    text-decoration: none; }
  nav .logo {
    position: absolute;
    top: 5px;
    left: 100px; }
    nav .logo img {
      display: inline-block;
      height: 100px; }
    nav .logo h1 {
      display: inline-block;
      margin: 0 20px;
      font-size: 2.5em;
      position: absolute;
      left: 100px;
      top: 25px; }
  nav .navLinkWrapper {
    width: 60%;
    height: 60px;
    display: flex;
    background: #eee;
    align-content: stretch;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translate(0%);
    transition: transform 300ms ease-in-out;
    z-index: 100; }
    nav .navLinkWrapper.closed {
      transform: translate(96%);
      transition-duration: 1000ms; }
      nav .navLinkWrapper.closed #navDrawerKnob .arrow {
        transform: skewX(-20deg) translate(0, -50%) rotate(90deg); }
    nav .navLinkWrapper #navDrawerKnob {
      height: 80px;
      width: 32px;
      flex: none;
      margin-top: -10px;
      border-left: 4px solid #ef8f12;
      transform: skewX(20deg);
      position: relative;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      cursor: pointer; }
      nav .navLinkWrapper #navDrawerKnob.show {
        opacity: 1; }
      nav .navLinkWrapper #navDrawerKnob .arrow {
        height: 28px;
        width: 28px;
        background-image: url("../imgs/DropDownArrow.png"), url("../imgs/DropDownArrow.png");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: top, bottom;
        position: relative;
        top: 50%;
        transition: transform 300ms ease-in-out;
        transform: skewX(-20deg) translate(0, -50%) rotate(-90deg); }
    nav .navLinkWrapper .navLink {
      display: block;
      height: 100%;
      width: 100%;
      border-right: 1px solid #ef8f12;
      box-sizing: border-box;
      text-align: center;
      line-height: 200%;
      font-size: 30px;
      text-decoration: none;
      color: #ef8f12;
      position: relative; }
      nav .navLinkWrapper .navLink .selector {
        height: 3px;
        width: 80%;
        background: #ef8f12;
        position: absolute;
        left: 0;
        bottom: 5px;
        pointer-events: none;
        transition: all ease-in-out 300ms;
        transform: translateX(10%); }
      nav .navLinkWrapper .navLink:nth-child(2) {
        border-right: none;
        width: 50%; }
      nav .navLinkWrapper .navLink:nth-child(3) {
        width: 50%; }
      nav .navLinkWrapper .navLink:last-child {
        border-right: none; }
  nav .filterWrapper {
    width: 60%;
    height: 60px;
    display: flex;
    align-content: stretch;
    position: absolute;
    top: 10px;
    right: 50px;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 500ms ease-in-out; }
    nav .filterWrapper.show {
      opacity: 1;
      transform: translateY(0); }
    nav .filterWrapper .filter {
      width: 40%;
      padding: 10px;
      font-size: 20px;
      background-color: #eee;
      border: 2px solid #ef8f12;
      margin: 0 5%;
      border-radius: 4px;
      transition: border-color 200ms ease-in-out; }
    nav .filterWrapper select {
      cursor: pointer;
      background-image: url("../imgs/DropDownArrow.png");
      background-size: 30px;
      background-position: 98% center;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* target Internet Explorer 9 to undo the custom arrow */ }
      nav .filterWrapper select::-ms-expand {
        /* remove default arrow on ie10 and ie11 */
        display: none; }
      @media screen and (min-width: 0\0) {
        nav .filterWrapper select {
          background: none\9;
          padding: 5px\9; } }
      nav .filterWrapper select:focus {
        outline: none;
        border-color: #cf6f08; }
    nav .filterWrapper input {
      background: url("../imgs/SearchIco.png");
      background-position: 98% center;
      background-size: 35px 35px;
      background-repeat: no-repeat; }
    nav .filterWrapper input:focus {
      outline: none;
      border-color: #cf6f08; }
