#aboutusbox{
    padding: 100px;
    text-align: center;
}

  
#aboutusbox .c2{
    }

#aboutusbox .c2 #aboutustext{
    
}

#aboutusbox .c2 #aboutusimg{
    height: 50%;
    margin-left: 50px;
    
}