html,body{
    size: 100%;
    }

    #aboutusbox{
        width: 35%;
        top: 25%;
        left: 10%;
        position: absolute;
    }

    h1{
    
    }

    #aboutustext{
        
    }

    #aboutusimg{
        position: absolute;
        width: 25%;
        height: 25%;
        top: 25%;
        right: 10%;
    }