#aboutusbox{
    padding: 20px;
    position: relative;
    left: 5%;
    top: 10%;
    
}

  
#aboutusbox .c2{
    }

#aboutusbox .c2 #aboutustext{
    
}

#aboutusbox .c2 #aboutusimg{
    width: 50%;
    position: relative;
    left: 10%;
}