#see_all_container {
    padding: 60px;
}

#see_all_container h1 {
    font-size: 2.5em;
    width: 47%;
    border-bottom: 2px solid #ef8f12;
    padding-bottom: 15px;
    padding-left: 15px;
}

h3 {
    font-size: 1.3em;
    margin-top: 50px;
    padding-left: 15px;
}


hr {
    margin-top: 30px;
}

.infokort {
    width: 80%;
    padding: 15px;
    margin: 20px auto;
    border: 4px solid #ef8f12;
    border-radius: 2px;
    background-color: #fefefe;
    box-shadow: 0 6px 7px 2px #ccc;
}

.infokort img {
    width: 100%;
}
.infokort h4 {
  font-size: 2em;
  margin: 10px
}
.tags {
  margin-top: 10px
}
.infokort .desc {
  display: block;
  width: 100%;
  border-bottom: 2px solid #ef8f12;
  padding-bottom: 10px;
}
.infokort a {
    color: #000;
    position: relative;
    left: 15px
}
.infokort a::before {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: url('../imgs/link-ico.png');
  background-size: 100%;
  content: '';
  position: relative;
  top: 5px;
  right: 10px;
}

.infokort .v-align-content {
    display: flex;
    align-items: center;
}

.infokort .open {
    height: 18px;
    border-left: 2px solid #ef8f12;
    padding-left: 10px;
    font-size: .95em;
    overflow: hidden;
    transition: height 300ms ease-in-out;
}

.infokort .open .status {
    display: inline-block;
    height: 18px;
    vertical-align: top;
}

.infokort .open .toggleBtn {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 15px;
    background: url("../imgs/DropDownArrow.png");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
