.container#main
  .map
    
    .backBtn
      img(src="assets/imgs/DropDownArrow.png")
      | Tilbake
    
    .mapText
      .title
        | Sulten?
      .desc
        | Finn de nærmeste spisestedene rundt <strong>Westerdals Oslo ACT!</strong>
      
    .cover#mapCover
  
    .campus#Vulkan(tabindex="5")
      .cover
      h1 Vulkan
      
    .campus#Fjerdingen(tabindex="6")
      .cover
      h1 Fjerdingen
      
    .campus#Brenneriveien(tabindex="7")
      .cover
      h1 Brenneriveien
      
    .scrollArrow
      
  .wrapper
    .row.overview
      .c2
        h1 Overview
          
        p.right
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        
      .c2
        | something goes here

script
  | filterPage = 0;
