.container
  .map
    
    .title
      Lorum Ipsum
    .desc
      Lorem ipsum dolor sit amet, consectetur adipisicing elit
      
    .cover#mapCover
  
    .campus#Vulkan(tabindex="5")
      .cover
      h1 Vulkan
      
    .campus#Fjerdingen(tabindex="6")
      .cover
      h1 Fjerdingen
      
    .campus#Brenneriveien(tabindex="7")
      .cover
      h1 Brenneriveien
      
    .scrollArrow
      
script nav.sel = 0;
