.container
  .map
    .cover
  
    .campus#Vulkan
      .cover
      h1 Vulkan
      
    .campus#Fjerdingen
      .cover
      h1 Fjerdingen
      
    .campus#Brenneriveien
      .cover
      h1 Brenneriveien
      
script nav.sel = 0;
