footer
  .row
    .c3.column
      h4 Kontakt info
      ul 
        li Tlf: 123 45 678
        li Addr: Christian Kroghs Gate 32A, Oslo
        li 
          a.fanzy(href="contact") Kontakt oss
      
    .c3.column
      h4 Resursser
      ul 
        li
          a(href="https://github.com/aceakash/string-similarity") 
            img.miniLogo(src="assets/imgs/Git-Icon-White.png")
            | String-similarity (npm)
          
        li 
          a(href="https://github.com/deepak1556/gulp-browserify") 
            img.miniLogo(src="assets/imgs/Git-Icon-White.png")
            | Gulp-browserify (npm)
          
        li.fontSmall
            | <a href="https://git-scm.com/downloads/logos">GitHub Logo</a> av <a href="https://twitter.com/jasonlong">Jason Long</a> under <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>
    
    .c3.column
      img.logo(src="assets/imgs/Logo.png")
      h4.fontLarge
        | Matvrak
        
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
