.location#adressHere
  .locInfo
    img(src="linkhere")
    h2.title Title here
    .tags 
      span tag1
      span tag2
    .desc Description
      br
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
    .open 
      .status Open now
      .toggleBtn(onclick="showTimes(this)", data-open="false")
      .times
        .row
          .c2 Mon - Fri
          .c2 10 - 22
        .row
          .c2 Sat
          .c2 12 - 01
        .row
          .c2 Sun
          .c2 Closed
        
        
    
  .subLocations
    a(htef="#") ico
    a(htef="#") ico
