nav
  img.logo(src="assets/imgs/LogoTransparent.png")
  .navLinkWrapper
    #navDrawerKnob
      .arrow
    a.navLink(href="home", tabindex="1") Hjem
    a.navLink(href="#", tabindex="2") Kart
    a.navLink(href="about", tabindex="3") Om Oss
    a.navLink(href="contact", tabindex="4") Kontakt oss
