nav
  img.logo(src="assets/imgs/LogoTransparent.png")
  .navLinkWrapper
    #navDrawerKnob
      .arrow
    a.navLink(href="home", tabindex="1") Hjem
    a.navLink(href="map", tabindex="2") Kart
    a.navLink(href="about", tabindex="3") Om Oss
    a.navLink(href="contact", tabindex="4") Kontakt oss
    
  .filterWrapper
    select.filter#filter-type
      option(value="0") Hva ser du etter?
      each val in ['Bar','Restaurant','Matbutikk']
        option(value=val)=val
        
    input.filter#filter-name(type="text", placeholder="Kjenner du navnet?")
