nav
  img.logo(src="/assets/imgs/LogoTransparent.png")
  .navLinkWrapper
    a.navLink.current(href="#") Home
    a.navLink(href="#") About
    a.navLink(href="#") Contact
    a.navLink(href="#") Login
