a.skipToMainContent(href="#main") Hopp over navigasjonsmeny
nav
  a(href="home")
    .logo
      img(src="assets/imgs/Logo.png", alt="Matvrak Logo")
      h1 Matvrak
  .navLinkWrapper
    #navDrawerKnob
      .arrow
    a.navLink(href="home", tabindex="1") Hjem
    a.navLink(href="map", tabindex="2") Kart
    a.navLink(href="all", tabindex="3") Vis Alt
    a.navLink(href="about", tabindex="4") Om Oss
    a.navLink(href="contact", tabindex="5") Kontakt oss
    
  .filterWrapper
    select.filter#filter-type
      option(value="0") Hva ser du etter?
      each val in ['Bar','Restaurant','Dagligvare', 'Kaffebar', 'Vegansk', 'Tyrkisk', 'Sushi', 'Mikrobrygg']
        option(value=val)=val
        
    input.filter#filter-name(type="text", placeholder="Kjenner du navnet?")
